body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E0F7FA; /* Light blue background */
}

h1, h2 {
  font-weight: normal;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  color: #005377; /* Darker blue */
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #333;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  color: #005377;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #A7C7E7; /* Darker blue background for the header */
  text-align: center;
}

.title-section {
  margin-bottom: 1rem;
}

section {
  padding: 2rem;
}

.about {
  border-bottom: 1px solid #ddd;
}

.social-icons {
  text-align: center;
  padding: 1rem;
  background-color: #A7C7E7; /* Darker blue */
  border-top: 1px solid #ddd;
}

.social-icons a {
  margin: 0 1rem;
  color: #003366; /* Dark blue links */
  font-size: 14px;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
}

.social-icons a:hover {
  background-color: #E0F7FA; /* Light blue hover */
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  
  h1, h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  .social-icons a {
    font-size: 12px;
    padding: 0.4rem;
  }
}
